header {
    padding: 2%;
    background-color: var(--lila);
    color: var(--feher);
    font-family: fantasy;
    font-variant: small-caps;
}

.col-3, .col-9 {
    display: table;
}

header p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

