header {
    padding: 2%;
    background-color: var(--lila);
    color: var(--feher);
    letter-spacing: 4px;
    font-family: Impact, sans-serif;
    font-variant: small-caps;
    font-size: 6vw;
}

.col-3, .col-9 {
    display: table;
}

header p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

footer, footer div {
    padding: 2%;
    background-color: var(--lila);
    color: var(--feher);
    text-align: center;
}

#kapcsolat span {
    font-weight: bold;
    float: left;
    width: calc(100% / 3);
}

#kapcsolat {
    overflow: auto;
}

#kozosseg img {
    height: 1em;
    margin-right: 0.5em;
}

#kozosseg p {
    display: inline-block;
}

#kozosseg a {
    background-color: var(--feher);
    color: darkblue;
    text-decoration: none;
}
